header.active{
    background-color: #fff !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

header.active, header.active .nav-text{
    color: #000;
}

header.active .brand-logo img{
    transition: all 0.4s ease;
}

header.active .brand-logo span {
    color: #000 !important;
}

header{
    transition: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
}

.nav-text{
    transition: all 0.4s ease;
}

.nav-text:hover{
    color: rgba(243, 150, 71);
}