#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

#root > section > aside{
  min-width: 250px !important;
  max-width: 250px !important;
}

#root > section > aside > div.ant-layout-sider-trigger{
  width: 250px !important;
}